<div class="card">
    <div class="card-header">Usuarios</div>
    <div class="card-body">
        <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="UserList">Usuarios</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="UserCreate">Nuevo Usuario</a>
    </div>
</div>

<div class="card">
    <div class="card-header">Roles</div>
    <div class="card-body">
        <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="RoleList">Roles</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="RoleCreate">Nuevo Rol</a>
    </div>
</div>