@using Entities.Core
@model IEnumerable<ApplicationUser>


@{
    ViewBag.Title = "User List";
}

<h1>USUARIOS</h1>
<div class="row">
    <div class="col-6">
        <table class="table table-sm table-striped table-hover border-bottom">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            @if (Model.Any())
            {
                foreach (var user in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => user.Email)
                        </td>
                        <td class="text-right">
                            <a href="#" class="btn btn-primary">Editar</a>
                            <a href="#" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center">
                        No hay roles
                    </td>
                </tr>
            }


            </tbody>
        </table>
    </div>
</div>

<tr class="d-none d-lg-table-cell">
<th>
<a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="UserCreate">Nuevo Usuario</a>
